@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body{
    background-color: white;
    height: 100%;
}

#wpcontent{
    padding:0px;
}

.notice{
    display:none;
}

.pickit{
    vertical-align: middle;     
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickit-container{
    background-color: white;
    position:relative;
    top:0;
    left:0;
    width: 98%;
    
    margin: auto;
    text-align: center;
    font-family: 'Mulish', sans-serif;      
    box-shadow: 10px 10px 5px rgb(224, 224, 224); 
    color: #2D2D2D; 
}

.pickit-container .row {
    display: flex;
  }
  
.pickit-container  .column30 {
    flex: 30%;
  }
.pickit-container  .column70 {
    flex: 70%;    
  }

  .pickit-container  .left-pane{
      background-color: #F5F5F5;
      border-radius: 0px 50px 0px 0px;
      height: 724px;
      padding-top: 65px;
      padding-left: 61px;
      padding-right:61px;
      text-align: left;
  }

  .pickit-container  .left-pane .welcome{
      margin-top: 80px;
      margin-bottom: 54px;
      text-align: left;
      font-weight: 800;
      font-size: 24px;
  }
  .pickit-container  .left-pane p{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

  .pickit-container  .left-pane .left-pane-img{
      margin-top: 100px;
  }

  .pickit-container a{
      color: #FF6C0E;
      font-weight: 800;
      text-decoration: none;

  }

  .pickit-container .right-pane{
      max-width: 400px;
      margin: auto;
  }

.pickit-container .right-pane h2{
    margin-top: 116px;
    margin-bottom: 54px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
}

.pickit-container  .right-pane p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
}

.pickit-container .right-pane input, .pickit-container .right-pane select{
    min-width: 100%;
    text-align: center;    
    border-color: #B9B9C3;
    color: #B9B9C3;
    border-style: solid;
    border-radius: 8px;
    line-height: 20px;
    height: 60px;
}

.pickit-container .right-pane input, .pickit-container .right-pane select{
    margin-top: 0px;
}


.pickit-container .right-pane label{
    text-align: left;
    font-weight: 800;
}

.pickit-container form{
    text-align : left;
}

.pickit-container input[type='submit']{
    background-color: #FF6C0E;
    border-radius: 50px;
    border: 0px;
    color: white;    
    height: 40px;
}
.pickit-container input[type='submit']:hover{
    background-color: white;
    border-radius: 50px;
    border: 1px solid #FF6C0E;
    color: #FF6C0E;    
}



/*modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 16px;    
    min-height: 325px;
    color: #2D2D2D;
    font-family: 'Mulish', sans-serif; 
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    vertical-align: middle;     
  }
  
  .modal-content  h2{
      font-size: 24px;
  }
    
  .modal-content  p{
    font-size: 16px;
}
  /* The Close Button */
  .close {
    color: #2D2D2D;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #2D2D2D;
    text-decoration: none;
    cursor: pointer;
  }

  #pickit-ok button{
      background-color: #04CE6D;
      border-radius: 50px;
      border: 0px;
      color: white;    
      height: 40px;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 20px;
  }
  #pickit-ok button:hover{
    background-color: white;
    border-radius: 50px;
    border: 1px solid #04CE6D;
    color: #04CE6D;    
    cursor: pointer;
}

#pickit-error button{
    background-color: #FF1515;
    border-radius: 50px;
    border: 0px;
    color: white;    
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}
#pickit-error button:hover{
  background-color: white;
  border-radius: 50px;
  border: 1px solid #FF1515;
  color: #FF1515;    
  cursor: pointer;
}

